
.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

/*------------------------- ESTILOS PARA BARRA LATERAL -------------------------*/

/*Con esta clase hago que el ancho de mi navbar lateral sea de 250px
Y que el alto mínimo sea el alto del dispositivo*/
#barraLateral{
    min-width: 250px;
    max-width: 250px;
    min-height: 89.8vh;

    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

/*Esta regla mueve 250px a la izquierda la navbar lateral
ocultandola del sitio*/
#barraLateral.active{
    margin-left: -250px;
}

/*Las dos reglas siguientes son para posicionar el triangulo de los
dropdown de la navbar lateral hasta el extremo derecho de dicho contenedor*/
#barraLateral a[data-toggle="collapse"]{
    position: relative;
}

#barraLateral .dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media(max-width: 768px){
    #barraLateral{
        margin-left: -250px;
    }
    #barraLateral.active{
        margin-left: 0;
    }
}

#barraLateral .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#barraLateral ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#barraLateral ul p, #barraLateral div p {
    color: #fff;
    padding: 10px;
}

#barraLateral ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#barraLateral ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#barraLateral ul li.active > a, #barraLateral a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

#barraLateral div p {
    font-size: 0.96em;
}

/*Sirve para corregir el posicionado del boton citas programadas cuando colapsa la barra superior*/
@media(max-width: 991px){
    #contenedorConsultasP{
        margin-left: 0px !important;
    }
}
/*------------------------- FIN ESTILOS PARA BARRA LATERAL -------------------------*/

/*------------------------- ESTILOS PARA BARRA SUPERIOR -------------------------*/

/*Sirve para ajustar el alto de la barra lateral con la barra superior*/
#barraSuperior{
    min-height: 9vh;
}

/*------------------------- FIN ESTILOS PARA BARRA SUPERIOR -------------------------*/

/*------------------------- ESTILOS PARA CONTENIDO -------------------------*/

#tituloPagina{
    margin: 20px 0 30px 0;
}

#buscador{
    margin: 20px 0 20px 0;
}

#resultadosExpedientes{
    height: 50vh;
}

.tarjeta-expediente{
    border-radius: 5px;
}
.img-usuario{
    width: 125px;
    height: 125px;
}
.tarjeta-expediente p{
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    margin: 0;
}


.scrollbar-propia
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#resultadosExpedientes::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	/*background-color: #F5F5F5;*/
}

#resultadosExpedientes::-webkit-scrollbar
{
	width: 12px;
	/*background-color: #F5F5F5;*/
}

#resultadosExpedientes::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

/*------------------------- FIN ESTILOS PARA CONTENIDO -------------------------*/


/*------------------------- ESTILOS GLOBALES DEL SITIO -------------------------*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/*------------------------- FIN ESTILOS GLOBALES DEL SITIO -------------------------*/
