/*------------------------- ESTILOS PARA CONTENIDO -------------------------*/
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
      
}

#contenido
{
    margin-top: 50px; 
   
}  
#font-tituloPagina{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  
    margin-bottom: 30px;
} 


#font-tituloPagina small{
    color: #2592CD;
}

#col_izquierda{
    border-top: 1px solid #A1A1A1;
    padding-top: 30px;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll; 
}
/*------------------------- FIN ESTILOS PARA CONTENIDO -------------------------*/

 /*------------------------- ESTILOS PARA FORMULARIO -------------------------*/
 .btnCirculo{     
    border: none; 
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 2px;
    border-radius: 100%;
} 



.editar{
    color: #DE676A;
    margin-left: 10px;
}
.eliminar{
    color: #3C3C3C;
}

.seccion-clinica{
    color: #389CD5;
    margin-bottom: 40px;
}
    

 .seccionFormulario{
    margin-bottom: 30px !important;
}

input[type=text] {
    font-size: 14px;
}

select{
    font-size: 14px !important;
    margin: 0
} 
input[type=text], select{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.font-tituloSeccion{ 
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;  
    background-color: #E6E9EC !important;
    color: #353A40;
    border-radius: 4px;
}

.frm-seccion{
    padding: 15px 40px !important;
    margin-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: 14px; 
}

.btn-action{
    border: 1px solid #389CD5;
    margin: 0 10px;
    color: #FFFFFF; 
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px; 
    background: #389CD5;
  
    -webkit-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.08);
    -moz-box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.08);
    box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.08);
    
  }


  .agregar{ 
    background-color: #00BD78;
    margin-bottom: 5px;
    border: none;
}

    .aceptar{
    background-color: #A3ACB4;
    border: none;
    }

   .aceptar:disabled{ 
        background-color: #A3ACB4;
        border: none;
        opacity: 0.3;
    }

.fa-plus-circle{
    margin-right: 5px;
}
  .fa-check-square{
      margin-right: 5px;
  }
  .btn-action:hover {
    opacity: 0.5;
  } 

.btn-regresar
{ 
    border: none;
    color: white; 
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 5px;
    background: #3C3C3C; 
    margin: 0px 5px;
    
} 

 .custom-select{
    font-size: 14px !important; 
    max-height: 32px;
    width:300px !important;  
}

 
 
 /*------------------------- FIN ESTILOS PARA FORMULARIO -------------------------*/

 /*------------------------- ESTILOS DE ICONOS -----------------------*/

  
 
/*-------------------------- FIN DE ESTILOS DE ICONOS -------------------*/