/*------------------------- ESTILOS PARA CONTENIDO -------------------------*/
#contenido
{
    margin-top: 50px; 
    
}

#font-tituloPagina{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;  
    margin-bottom: 50px;
    
}


  
/*------------------------- FIN ESTILOS PARA CONTENIDO -------------------------*/

 /*------------------------- ESTILOS PARA FORMULARIO -------------------------*/
 #form-generarExpediente{
     margin-bottom: 60px;
 }

.font-tituloSeccion{ 
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;  
    background-color: #E6E9EC !important;
    color: #353A40;
    border-radius: 4px;
}

.frm-seccion{
    padding: 15px 40px !important;
    margin-top: 30px;
    font-family: 'Source Sans Pro', sans-serif;  
    font-size: 14px; 
}

.btn-action{ 
    border: none;
    color: white; 
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    background: rgb(0,132,230); 
    margin: 15px 15px;
    
}

.btn-action:hover{ 
    background: #004D8B;
    border: 1px solid #323233;
}


.form-control, .custom-select{
    font-size: 14px !important; 
    max-height: 32px;
}

 /*------------------------- FIN ESTILOS PARA FORMULARIO -------------------------*/

 /*------------------------- ESTILOS DE ICONOS -----------------------*/

 
.fa-sliders-h {

    margin-right: 5px;
}

.fa-external-link-alt{
    color: #DD7373;
}

.fa-save{
    margin-right: 5px;
}

 
/*-------------------------- FIN DE ESTILOS DE ICONOS -------------------*/