@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.wrapper{
    display: flex;
    width: 100%;
    align-items: stretch;
}

/*------------------------- ESTILOS GLOBALES DEL SITIO -------------------------*/ 

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #fafafa;
    font-size: 15px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

/*------------------------- FIN ESTILOS GLOBALES DEL SITIO -------------------------*/

/*------------------------- ESTILOS PARA BARRA LATERAL -------------------------*/


#font-logo{
    letter-spacing: 1px; 
    font-family: 'Baloo Chettan 2', cursive;
    color: #4CA6DD;
    
}
/*Con esta clase hago que el ancho de mi navbar lateral sea de 250px
Y que el alto mínimo sea el alto del dispositivo*/
#barraLateral{
    min-width: 250px;
    max-width: 250px;

    background: #004D8B;
    color: #323233;
    transition: all 0.3s;


    -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}

/*Esta regla mueve 250px a la izquierda la navbar lateral
ocultandola del sitio*/
#barraLateral.active{
    margin-left: -250px;
}

/*Las dos reglas siguientes son para posicionar el triangulo de los
dropdown de la navbar lateral hasta el extremo derecho de dicho contenedor*/
#barraLateral a[data-toggle="collapse"]{
    position: relative;
}

#barraLateral .dropdown-toggle::after{
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

@media(max-width: 768px){
    #barraLateral{
        margin-left: -250px;
    }
    #barraLateral.active{
        margin-left: 0;
    }
}

 

#barraLateral ul.components {
    padding: 20px 0; 
}

#barraLateral ul p, #barraLateral div p {
    color: #F7F9FA;
    padding: 10px;
}

#barraLateral ul li a {
    padding: 10px;
    padding-left: 30px;
    font-size: 1em;
    display: block;
    text-decoration: none;
    color: #DCDBDC;
    opacity: 0.5;
}
#barraLateral ul li a:hover {
    color: black; 
    opacity: 1;
}

#barraLateral ul li.active > a, #barraLateral a[aria-expanded="true"] {
    color: #2F2F2F; 
    border-left: 5px solid #F7F9FA;
    color: #F7F9FA;
    opacity: 1;
    
}

#barraLateral div p {
    font-size: 0.96em;
}

/*------------------------- FIN ESTILOS PARA BARRA LATERAL -------------------------*/

/*------------------------- ESTILOS PARA BARRA SUPERIOR -------------------------*/
.navbar{ 
    
    background-image: none;
    background-color: #e6eef1;
    color: #2F2F2F;
    border-bottom: 1px solid #ABABAB;
    
}
  
/*Sirve para ajustar el alto de la barra lateral con la barra superior*/

#cuentaUsuario {
    height: 25px;
    font-size: 15px;
    color: #676767;

}

 
/*Si los enlaces no quedan centrados, modifica el padding con bootstrap*/
/*Sirve para ajustar el tamaño de los íconos*/
#i-clock, #i-ellipsis-vertical, #i-user{
    width: 16px;
    height: 16px;
}

.fa-user-circle{
    margin-right: 5px;
}

.fa-image{
    margin-right: 10px;
}

 
/*------------------------- FIN ESTILOS PARA BARRA SUPERIOR -------------------------*/
