 
html,
body,
.swiper-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}
 
.b {
    background: #F6F8F9;
}  
.swiper-slide {
    width: 100%;
    height: 100%;
}
.swiper-container {
    height: 100%;
    margin-bottom: 1rem; 
}
.swiper-wrapper {
    flex-direction: column
}