#contenido{
    width: 100%;
}

.informacion-expediente{
    width: 85%;
    margin: 0 auto;
    font-size: 15px;
}

.informacion-expediente input[type="text"]{
    height: 30px;
    font-size: 12px;
}

.informacion-expediente button{
    font-size: 15px;
}

.informacion-expediente #menosResultados, .informacion-expediente #masResultados{
    width: 16px;
}

#infoGeneralExpediente{
    margin-top: 20px;
}

#historialExpediente{
    margin-bottom: 20px;
}

.campo-descriptivo{
    font-size: 12px !important;
    height: 120px !important;
    overflow: auto;
}

#historialClinico, #historialCirugia{
    display: none;
}



